In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df = pd.read_csv('marital status.csv')
df

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     NaN
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

# Null value handelling

In [ ]:
df.isnull().sum()

age       0
status    1
dtype: int64

In [ ]:
handel = df['status'].median()
handel

0.0

In [ ]:
df.status = df.status.fillna(handel)

In [ ]:
df

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     0.0
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

In [ ]:
df['status'].value_counts()

0.0    11
1.0     9
Name: status, dtype: int64

# splite dataSet

In [ ]:
x = df[['age']]

In [ ]:
y=df['status']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=.3,random_state=5)

In [ ]:
ytest

2     0.0
5     1.0
17    0.0
19    1.0
12    0.0
1     1.0
Name: status, dtype: float64

In [ ]:
xtest

    age
2    24
5    33
17   18
19   25
12   22
1    33

# train the model

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
model = LogisticRegression()

In [ ]:
model.fit(xtrain,ytrain)

LogisticRegression()

In [ ]:
model.predict(xtest)

array([0., 1., 0., 0., 0., 1.])

In [ ]:
model.score(xtest,ytest) #this is the out put of LogisticRegrassion

0.8333333333333334

In [ ]:
model.predict_proba(xtest) #this is the Sigmoid function

array([[0.72767781, 0.27232219],
       [0.0264788 , 0.9735212 ],
       [0.98272673, 0.01727327],
       [0.61613049, 0.38386951],
       [0.88103891, 0.11896109],
       [0.0264788 , 0.9735212 ]])

#       o's colum     1's colum
-----------------------------------
      ([[0.72767781, 0.27232219],
       [0.0264788 , 0.9735212 ],
       [0.98272673, 0.01727327],
       [0.61613049, 0.38386951],
       [0.88103891, 0.11896109],
       [0.0264788 , 0.9735212 ]])